html{
    background-color: hsl(40, 77%, 81%);
}

header ul li a {
    color: #7b3f2e;
}

/*title and intro*/
.faqtitle {
    margin: auto;
    justify-content: center;
    display: flex;
    overflow: hidden;
}
#faqtitle {
    opacity: 70%;
    width: 150%;
    position: relative;
    object-fit: cover;
    height: 600px;
}
#cloud1 {
    position: absolute;
    width: 30%;
    height: 20%;
    margin-left: 450px;
    margin-top: 90px;
    display: flex;
    animation: moveClouds 12s infinite alternate ease-in-out;
}
#cloud2 {
    position: absolute;
    width: 22%;
    height: 15%;
    margin-left: -650px;
    margin-top: 180px;
    display: flex;
    animation: moveClouds 10s infinite alternate ease-in-out;
}
#cloud3 {
    position: absolute;
    width: 25%;
    height: 15%;
    margin-left: 500px;
    margin-top: 400px;
    display: flex;
    animation: moveClouds2 8s infinite alternate ease-in-out;
}
@keyframes moveClouds {
    0% { transform: translateX(0); }
    100% { transform: translateX(50px); }
}

@keyframes moveClouds2 {
    0% { transform: translateX(50px); }
    100% { transform: translateX(0); }
}
.faqtitle h1 {
    position: absolute;
    text-align: center;
    margin-top: 20%;
    color: #7b3f2e;
    text-shadow: 3px 4px #47abab;
    font-size: 80px;
    font-family: "Scripto", 'Times New Roman', Times, serif;
}

/*Section 1 Keyword*/
#pastries {
    position: absolute;
    width: 40%;
    margin-top: 30px;
    margin-left: -200px;
}
#pastries2 {
    position: absolute;
    width:40%;
    margin-left: 110px;
    margin-top: 230px;
}
#drink {
    position: absolute;
    width: 30%;
    margin-top: -40px;
    margin-left: 760px;
}
.keyword {
    background-image: url(image/wavy-bg.png);
    background-color: #7b3f2e;
    background-repeat: no-repeat;
    background-size: 880px;
    background-position: center;
    height: 450px;
    width: 1020px;   
}
.keyword h1 {
    padding-top: 160px;
    font-family: 'Messenger Texture';
    font-weight: 100;
}
.wordCarousel {
    font-size: 20px;
    font-weight: 20;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #7b3f2e;
    padding-top: 30px;
    padding-left: 370px;
    div {
        overflow: hidden;
        position: relative;
        height: 65px;
        float: right;
        margin-right: 350px;
        padding-top: 10px;
        margin-top: -10px;
        li {
            font-family: Serif;
            color: #e39d43;
            font-style: italic;
            font-weight: 100;
            font-family: 'Messenger Texture';
            font-size: 40px;
            height: 45px;
            margin-bottom: 45px;
            display: block;
        }
    }
}
.flip { animation: flip 12s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
@keyframes flip {
    0% { margin-top: -450px; }
    5% { margin-top: -360px; }
    20% { margin-top: -360px; }
    25% { margin-top: -270px; }
    40% { margin-top: -270px; }
    45% { margin-top: -180px; }
    60% { margin-top: -180px; }
    65% { margin-top: -90px; }
    80% { margin-top: -90px; }
    85% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -450px; }
}

/*Section 2 FAQ*/
.faq-section {
    background-color: #838f75;
    margin-top: 40px;
}
.faq-section h1 {
    color: #604a3d;
    text-shadow: 3px 4px #e39d43;
    font-size: 55px;
    font-family: 'Messenger Texture';
    padding-top: 5%;
    font-weight: 100;
}
.accordion {
    max-width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    background-color: #7a6254;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
    box-shadow: 0 3px 8px rgb(77, 91, 77);
    margin-top: 5%;
}
.accordion__label, .accordion__content {
    padding: 14px 20px;
    width: auto;
}
.accordion__label {
    display: block;
    color: white;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    transition: background 0.1s;
    font-size: 20px;
}
.accordion__label:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.accordion__label::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 12px;
    height: 6px;
    transition: transform 0.4s;
    background-size: contain;
}
.accordion__content {
    background-color: rgb(221, 195, 180);
    line-height: 1.6;
    display: none;
    letter-spacing: 1px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.accordion__input {
    display: none;
}
.accordion__input:checked ~ .accordion__content {
    display: block;
}
.accordion__content ul {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
}
body {
    background-color: #838f75;
    color: #7b3f2e;
}
h1 {
    text-align: center;
    color: #903536;
}

/*Section 3 Customer Reviews*/
.reviewtitle h1 {
    margin-top: 150px;
    font-size: 55px;
    font-family: 'Messenger Texture';
    font-weight: 100;
    color: #7b3f2e;
    text-shadow: 3px 4px #7a6254;
}
#reviews-container {
    margin-top: 40px;
    width: 60%;
    border-radius: 20px;
    margin-left: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: smaller;
    
}
.review {
    border: 1px solid #839175;
    padding: 10px;
    margin-bottom: 10px;
}

/*Review form*/
.form {
    background-color: #fce4c2;
    width: 80%;
    
    border: 10px solid transparent;
    border-image-outset: 5px;
    margin: 50px auto;
    padding: 40px;
    padding-top: 100px;
    background-size: 40px 40px;
    border-radius: 18px;
    margin-top: -80px;
    box-shadow: 0 3px 4px rgb(77, 91, 77);
}
#review-form {
    margin-top: 20px;
    margin-left: 150px;
    background-color: transparent;
}
#review-form label {
    display: block;
    margin-left: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    border-radius: 10px;
    padding-top: 30px;
}
#review-form input,
#review-form textarea {
    width: 80%;
    margin-left: 5px;
    border: 1px solid #7b3f2e;
    padding: 5px;
    margin-top: 15px;
    align-items: center;
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
#review-form textarea {
    resize: vertical;
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
#review-form button {
    background-color: #7b3f2e;
    color: #fce4c2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 20px;
}
#review-form button:hover {
    background-color: #7a6254;

}
.star {
    font-size: 24px;
    cursor: pointer;
    margin-left: 5px;
}
.star:hover,
.star.active {
    color: #e39d43;
}