html {
    background-color: #f4dcab; 
}

/*title and intro*/
.title {
    margin: auto;
    justify-content: center;
    display: flex;
    overflow: hidden;
    border-radius: 0 0 20px 20px;
    animation: fadeInUp 1s;
}

.title video {
    position: relative;
    width: 100%;
    height: 95vh;
    transform: scale(1.2);
    box-shadow: 20px 20px 10px rgba(0,0,0,0.5);
    filter: opacity(0.8);
}

.title img {
    width: 100%;
    height: 500px;
}

.title h1 {
    position: absolute;
    font-family: "Scripto", 'Times New Roman', Times, serif;
    font-size: 6em;
    color: #44aaac;
    text-shadow: 4px 5px #7c3d2a;
    padding: 70px 60px;
    text-align: center;
    top: 200px;
    border: double 5px #7c3d2a;
    background-color: rgba(244,220,171,0.6);
    animation: fadeInUp 1s;
}

/*parallex effect section (sorts of selections)*/
.parallex {
    width: 100%;
    height: 640px;
    background-image: url(image/checkerBg.png);
    background-size: 1020px 640px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
}

.parallex h1 {
    position: absolute;
    top: 10%;
    left: 15%;
    font-family: "Scripto", serif;
    color: #9c1f25;
    text-shadow: 5px 10px #e0c55c;
    font-size: 5.5em;
}

.parallex img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

img#arrowElmt {
    width: 10%;
    pointer-events: initial;
    transform: rotate(270deg);
    top: 250px;
    left: 35%;
}

img#arrowElmt:hover {
    animation: jelly 0.5s;
    cursor: pointer;
}

/*-----------------wave divider section-----------------*/
section#waveDivide,
section#wave2Divide,
section#wave3Divide,
section#wave4Divide,
section#wave5Divide {
    position: relative;
    width: 100%;
    height: 10vh;
}
section#waveDivide {
    background: #9c1f25;
}
section#wave2Divide {
    background: #88a797;
}
section#wave3Divide {
    background: #e5d6bd;
}
section#wave4Divide {
    background: #d8b288;
}
section#wave5Divide {
    background: #115a9e;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-size: 1000px 100px;
    animation: wave 4s ease-in-out infinite;
    animation-delay: calc(var(--i) * 0.25s);
}

section#waveDivide .wave {
    background-image: url(image/wave.png);
}
section#wave2Divide .wave {
    background-image: url(image/wave2.png);
}
section#wave3Divide .wave {
    background-image: url(image/wave3.png);
}
section#wave4Divide .wave {
    background-image: url(image/wave4.png);
}
section#wave5Divide .wave {
    background-image: url(image/wave5.png);
}

.wave#wave1-1, .wave#wave2-1, .wave#wave3-1, .wave#wave4-1, .wave#wave5-1 {
    z-index: 50;
    opacity: 1;
    background-position-x: 400px;
}
.wave#wave1-2, .wave#wave2-2, .wave#wave3-2, .wave#wave4-2, .wave#wave5-2 {
    z-index: 59;
    opacity: 0.5;
    background-position-x: 300px;
}
.wave#wave1-3, .wave#wave2-3, .wave#wave3-3, .wave#wave4-3, .wave#wave5-3 {
    z-index: 48;
    opacity: 0.2;
    background-position-x: 200px;
}
.wave#wave1-4, .wave#wave2-4, .wave#wave3-4, .wave#wave4-4, .wave#wave5-4 {
    z-index: 49;
    opacity: 0.7;
    background-position-x: 100px;
}
/*-----------------------------------------------------*/

/* cake category section */
.cakeCat {
    width: 100%;
    height: 640px;
    background-image: url(image/cakeCatBg.png);
    background-size: 1020px 640px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.cakeCat img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}
.cakeCat h1 {
    position: absolute;
    top: 6%;
    right: 10%;
    font-family: "Scripto", serif;
    color: #9c1f25;
    text-shadow: 5px 10px #e0c55c;
    font-size: 5.5em;
}
.cakeCat p#cake-text2 {
    position: absolute;
    top: 23%;
    right: 10%;
    font-family: "Messenger Texture", serif;
    color: #9c1f25;
    text-shadow: 4px 3px #88a797;
    font-size: 2.7em;
}
.cakeCat button.menuCake {
    position: absolute;
    top: 40%;
    right: 30%;
    width: 20%;
    height: 60px;
    background-color: #88a797;
    color: #9c1f25;
    text-shadow: 2px 2px #e0c55c;
    font-family: "Scripto", serif;
    font-size: 2em;
    padding: 5px 10px;
    cursor: pointer;
    text-transform: capitalize;
    border: 5px solid #e0c55c;
    border-top: none; 
    border-radius: 20px;
    box-shadow: 0px 10px #e0c55c;
    transition: 0.6s;
    overflow: hidden;
}
.cakeCat button.menuCake:hover {
    box-shadow: none;
    bottom: 0px;
    color: #f3c12e;
    background-color: #d3122d;
    text-shadow: none;
    top: 41%;
}
.cakeCat p#cake-text3 {
    position: absolute;
    bottom: 5%;
    right: 3%;
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-size: 1.4em;
    text-align: right;
    color: #f4dcab;
    text-shadow: 2px 2px rgba(0,0,0,0.3);
}
.cakeCat p#cake-text3 span {
    font-family: "Scripto", sans-serif;
    font-weight: 600;
    font-size: 1.7em;
    color: #9c1f25;
    text-shadow: 3px 3px #e0c55c;
}

/* drinks category section */
.drinksCat {
    width: 100%;
    height: 1115px;
    background-image: url(image/drinksCatBg.png);
    background-size: 1020px 1115px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.drinksCat img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}
.drinksCat h1 {
    position: absolute;
    top: 6%;
    right: 10%;
    font-family: "Scripto", serif;
    color: #242947;
    text-shadow: 5px 10px #f44e21;
    font-size: 5.5em;
}
.drinksCat #drinks-text5 {
    position: absolute;
    top: 13.5%;
    left: 4%;
    font-family: "Messenger Texture", sans-serif;
    color: #242947;
    text-shadow: 3px 3px #e5d6bd;
    font-size: 2em;
}
.drinksCat h2#drinks-text2 {
    position: absolute;
    top: 22%;
    right: 4%;
    font-family: "Scripto", sans-serif;
    color: #f44e21;
    text-shadow: 5px 4px #242947;
    font-size: 2.8em;
}
.drinksCat h2#drinks-text3 {
    position: absolute;
    top: 30%;
    right: 4%;
    font-family: "Messenger Texture", sans-serif;
    color: #242947;
    text-shadow: 3px 4px #f44e21;
    font-weight: 100;
    font-size: 2.4em;
    text-align: right;
}
.drinksCat p#drinks-text4 {
    position: absolute;
    top: 57%;
    left: 14%;
    width: 30%;
    font-family: "Fira Sans", sans-serif;
    color: #242947;
    text-shadow: 2px 2px rgba(0,0,0,0.2);
    font-weight: 900;
    font-size: 1.8em;
    text-align: left;
}
.drinksCat button.menuDrinks {
    position: absolute;
    top: 80%;
    left: 20%;
    width: 20%;
    height: 60px;
    background-color: #f44e21;
    color: #242947;
    text-shadow: 2px 2px #e5d6bd;
    font-family: "Scripto", serif;
    font-size: 2em;
    padding: 5px 10px;
    cursor: pointer;
    text-transform: capitalize;
    border: 5px solid #242947;
    border-top: none; 
    border-radius: 20px;
    box-shadow: 0px 10px #242947;
    transition: 0.6s;
    overflow: hidden;
}
.drinksCat button.menuDrinks:hover {
    box-shadow: none;
    bottom: 0px;
    color: #f3c12e;
    background-color: #d3122d;
    text-shadow: none;
    top: 81%;
}

/* pastries category section */
.pastriesCat {
    width: 100%;
    height: 640px;
    background-image: url(image/pastriesCatBg.png);
    background-size: 1020px 640px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.pastriesCat img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}
.pastriesCat h1 {
    position: absolute;
    top: 13%;
    right: 8%;
    font-family: "Scripto", serif;
    color: #aa3a3a;
    text-shadow: 6px 8px #562f23;
    font-size: 5.5em;
}
.pastriesCat p#pastries-text1 {
    position: absolute;
    bottom: 18%;
    left: 5%;
    font-family: "Scripto", serif;
    color: #d8b288;
    text-shadow: 6px 5px #562f23;
    font-size: 2.3em;
    line-height: 1.5em;
}
.pastriesCat p#pastries-text2 {
    position: absolute;
    bottom: 7%;
    left: 6%;
    font-family: "Messenger Texture", serif;
    color: #d8b288;
    text-shadow: 6px 5px #562f23;
    font-size: 3.5em;
    font-weight: 100;
}
.pastriesCat button.menuPastries {
    position: absolute;
    top: 35%;
    right: 15%;
    width: 20%;
    height: 60px;
    background-color: #aa3a3a;
    color: #d8b288;
    text-shadow: 4px 4px #562f23;
    font-family: "Scripto", serif;
    font-size: 2em;
    padding: 5px 10px;
    cursor: pointer;
    text-transform: capitalize;
    border: 5px solid #562f23;
    border-top: none; 
    border-radius: 20px;
    box-shadow: 0px 10px #562f23;
    transition: 0.6s;
    overflow: hidden;
}
.pastriesCat button.menuPastries:hover {
    box-shadow: none;
    bottom: 0px;
    color: #f3c12e;
    background-color: #d3122d;
    text-shadow: none;
    top: 37%;
}
.pastriesCat h2#pastries-text4 {
    position: absolute;
    bottom: 28%;
    right: 6%;
    width: 35%;
    text-align: right;
    font-family: "Messenger Texture", serif;
    color: #aa3a3a;
    text-shadow: 6px 5px #562f23;
    font-size: 3em;
    font-weight: 100;
}
.pastriesCat p#pastries-text5 {
    position: absolute;
    bottom: 7%;
    right: 6%;
    width: 30%;
    text-align: right;
    font-family: "Fira Sans", sans-serif;
    color: #562f23;
    text-shadow: 2px 2px rgba(0,0,0,0.2);
    font-weight: 900;
    font-size: 1.3em;
}

/* breakfast category section */
.breakfastCat {
    width: 100%;
    height: 640px;
    background-image: url(image/breakfastCatBg.png);
    background-size: 1020px 640px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.breakfastCat img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}
.breakfastCat h1 {
    position: absolute;
    top: 5%;
    left: 35%;
    font-family: "Scripto", serif;
    color: #9c1424;
    text-shadow: 6px 8px #fce4c2;
    font-size: 5.5em;
}
.breakfastCat h2#breakfast-text2 {
    position: absolute;
    top: 28%;
    left: 6%;
    width: 35%;
    text-align: center;
    font-family: "Messenger Texture", serif;
    color: #aa3a3a;
    text-shadow: 4px 4px 1px #115a9e;
    font-size: 2.5em;
    font-weight: 200;
}
.breakfastCat p#breakfast-text3 {
    position: absolute;
    bottom: 33%;
    left: 8%;
    width: 35%;
    text-align: left;
    font-family: "Fira Sans", sans-serif;
    color: #aa3a3a;
    text-shadow: 1px 1px rgba(0,0,0,0.2);
    font-weight: 900;
    font-size: 1.3em;
}
.breakfastCat p#breakfast-text3 span {
    font-family: "Scripto", serif;
    color: #aa3a3a;
    text-shadow: 3px 2px #115a9e;
    font-weight: 600;
    font-size: 2em;
}
.breakfastCat button.menuBreakfast {
    position: absolute;
    top: 70%;
    left: 13%;
    width: 20%;
    height: 60px;
    background-color: #115a9e;
    color: #fce4c2;
    text-shadow: 4px 4px #9c1f25;
    font-family: "Scripto", serif;
    font-size: 2em;
    padding: 5px 10px;
    cursor: pointer;
    text-transform: capitalize;
    border: 5px solid #9c1f25;
    border-top: none; 
    border-radius: 20px;
    box-shadow: 0px 10px #9c1f25;
    transition: 0.6s;
    overflow: hidden;
}
.breakfastCat button.menuBreakfast:hover {
    box-shadow: none;
    bottom: 0px;
    color: #f3c12e;
    background-color: #d3122d;
    text-shadow: none;
    top: 71%;
}

/* pasta category section */
.pastaCat {
    width: 100%;
    height: 640px;
    background-image: url(image/pastaCatBg.png);
    background-size: 1020px 640px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.pastaCat img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}
.pastaCat h1 {
    position: absolute;
    top: 10%;
    right: 5%;
    font-family: "Scripto", serif;
    color: #b52a6f;
    text-shadow: 6px 8px #ffb92e;
    font-size: 5.5em;
}
.pastaCat h2#pasta-text2 {
    position: absolute;
    top: 14%;
    left: 30%;
    text-align: right;
    font-family: "Messenger Texture", serif;
    color: #ffb92e;
    text-shadow: 2px 2px #fff2d2;
    font-size: 2em;
    font-weight: 100;
}
.pastaCat h2#pasta-text3 {
    position: absolute;
    top: 33%;
    right: 2%;
    text-align: right;
    font-family: "Scripto", serif;
    color: #ffb92e;
    text-shadow: 3px 3px #b52a6f;
    font-size: 2.5em;
    font-weight: 100;
}
.pastaCat p#pasta-text4 {
    position: absolute;
    bottom: 30%;
    right: 3%;
    width: 25%;
    text-align: right;
    font-family: "Fira Sans", sans-serif;
    color: #b52a6f;
    text-shadow: 1px 1px rgba(0,0,0,0.2);
    font-weight: 900;
    font-size: 1.3em;
}
.pastaCat button.menuPasta {
    position: absolute;
    top: 72%;
    right: 10%;
    width: 20%;
    height: 60px;
    background-color: #ffb92e;
    color: #b52a6f;
    text-shadow: 4px 4px #fff2d2;
    font-family: "Scripto", serif;
    font-size: 2em;
    padding: 5px 10px;
    cursor: pointer;
    text-transform: capitalize;
    border: 5px solid #b52a6f;
    border-top: none; 
    border-radius: 20px;
    box-shadow: 0px 10px #b52a6f;
    transition: 0.6s;
    overflow: hidden;
}
.pastaCat button.menuPasta:hover {
    box-shadow: none;
    bottom: 0px;
    color: #f3c12e;
    background-color: #d3122d;
    text-shadow: none;
    top: 74%;
}

/*Scroll Text*/
.scrollText{
    display: flex;
    justify-content: flex-start;
    background: #f44e21;
    overflow: hidden;
}
.scrollText h1{
    font-family: "Messenger Texture", sans-serif;
    font-size: 3em;
    color: #242947;
    font-weight: 100;
    text-shadow: 3px 3px #e5d6bd;
    white-space: nowrap;
    padding: 0.6rem;
    letter-spacing: 1px;
    animation: move 6s linear infinite;
}
@keyframes move{
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* speciality and promotion */
.promotion {
    background-color: #f4dcab;
    padding: 100px 0px 0px;
}
img#arrow {
    width: 100px;
    position: absolute;
    left: 27%;
    transform: rotate(180deg);
}
img#curious {
    width: 30%;
}
img#curious:hover {
    animation: vibrate 0.82s cubic-bezier(.36,.07,.19,.97) both;
    cursor: pointer;
}
@keyframes vibrate {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}
.speciality, .what {
    float: right;
    display: none;
    border: 8px double #398583;
    border-radius: 10px;
    width: 60%;
    margin-right: 5%;
}
.what {
    display: flex;
}
.speciality-content, .what-content {
    position: relative;
    padding: 0px 40px 40px 50px;
    text-align: center;
    margin: 5px;
}
.speciality-content h2, .what-content h2 {
    font-family: "Scripto", serif;
    font-size: 3.4em;
    color: #44aaac;
    text-shadow: 5px 5px #7c3d2a;
    width: 60%;
    margin: auto;
    margin-top: -30px;
    background-color: #f4dcab;
}
.speciality-content p {
    font-family: "Fira Sans", sans-serif;
    color: #7c3d2a;
    text-shadow: 1px 1px rgba(0,0,0,0.2);
    font-weight: 600;
    font-size: 1.2em;
}
.speciality-content p strong {
    font-family: "Messenger Texture", sans-serif;
    color: #f44e21;
    font-size: 0.9em;
    line-height: 3em;
}

/*Slideshow section*/
.slideshow {
    position: relative;
    overflow: hidden;
    padding: 20px;
    font-family: "Roboto Slab", serif;
    color: #592a1c;
    margin-top: 50px;
}
.slideshow h2 {
    padding: 0 10%;
    font-size: 3em;
    font-family: "Scripto", "Oleo Script", serif;
    color: #44aaac;
    text-shadow: 5px 5px #7c3d2a;
    text-transform: capitalize;
    margin-bottom: 40px;
}
.slide-container {
    padding: 0 10%;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.slide-container::-webkit-scrollbar {
    display: none;
}
.item-card {
    flex: 0 0 auto;
    width: 30%;
    height: 480px;
    margin-right: 30px;
}
.slide-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}
.slide-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slide-tag {
    position: absolute;
    background-color: #d3122d;
    padding: 5px;
    border-radius: 5px;
    color: #f3c12e;
    font-family: "Messenger Texture", serif;
    right: 0%;
    top: 10px;
    opacity: 0;
}
.item-card:hover .slide-tag {
    opacity: 1;
}
.card-btn {
    position: absolute;
    top: 75%;
    left: 15%;
    width: 70%;
    height: 60px;
    background-color: #f3c12e;
    color: #d3122d;
    text-shadow: 4px 4px #fff2d2;
    font-family: "Scripto", serif;
    font-size: 1.5em;
    padding: 5px 10px;
    cursor: pointer;
    text-transform: capitalize;
    border: 5px solid #d3122d;
    border-top: none; 
    border-radius: 20px;
    box-shadow: 0px 10px #d3122d;
    transition: 0.6s;
    overflow: hidden;
    opacity: 0;
}
.item-card:hover .card-btn {
    opacity: 1;
}
.card-btn:hover {
    box-shadow: none;
    bottom: 0px;
    color: #f3c12e;
    background-color: #d3122d;
    text-shadow: none;
    top: 77%;
}
.item-info {
    width: 100%;
    padding-top: 10px;
    color: #592a1c;
}
.item-info h2 {
    text-transform: capitalize;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 800;
    text-shadow: 3px 2px #7c3d2a;
    font-size: 1.5em;
    padding: 0;
    margin-bottom: 20px;
}
.item-info p {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.7;
    margin: 5px 0;
}
.price {
    font-weight: 600;
    font-size: 1.1em;
}
.actual-price {
    margin-left: 20px;
    opacity: 0.7;
    text-decoration: line-through;
}
.pre-btn, .nxt-btn {
    border: none;
    width: 10%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4dcab;
    cursor: pointer;
    z-index: 10;
}
.pre-btn {
    left: 0;
}
.nxt-btn {
    right: 0;
}
.pre-btn img, .nxt-btn img {
    width: 50px;
    opacity: 0.5;
}
.pre-btn img:hover, .nxt-btn img:hover {
    opacity: 1;
}

/*Empty Plate Category*/
.quickView {
    position: relative;
    height: 500px;
    margin: 20px auto;
}
.quickView img{
    width: 40%;
    display: block;
    position: absolute;
    left: 30%;
    margin: 30px auto;
}

/* Button CSS for empty plate section */
button.plateButton {
  touch-action: manipulation;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  touch-action: manipulation;
    color: #242947;
    font-family: "Kaushan Script", serif;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0.4em 1em;
    background: #7edadb;
    border: 2px solid #32807d;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.plateButton::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #44aaac;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #44aaac, 0 0.625em 0 0 #7edadb;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.plateButton:hover {  /*mouse over*/
  background: #a8eced;
  transform: translate(0, 0.25em);
}
button.plateButton::before {
  box-shadow: 0 0 0 2px #7edadb, 0 0.5em 0 0 #ffe3e2;
  transform: translate3d(0, 0.5em, -1em);
}
button.plateButton:active { /*on click*/
  background: #7edadb;
  transform: translate(0em, 0.75em);
}
button.plateButton:active::before {
  box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  transform: translate3d(0, 0, -1em);
}
button#plate1 {
    left: 20%;
    top: 100px;
}
button#plate2 {
    left: 60%;
    top: 50px;
}
button#plate3 {
    left: 55%;
    top: 200px;
}
button#plate4 {
    right: 15%;
    top: 300px;
}
button#plate5 {
    left: 29%;
    top: 350px;
}

/* Empty plate image */
img#plateimg1, img#plateimg2, img#plateimg3, img#plateimg4 {
    top: -4px;
    opacity: 0;
}
img#plateimg5 {
    top: -3px;
    opacity: 0;
}

/*Menu Overview*/
.menuPrompt {
    display: block;
    position: relative;
    height: 80vh;
}
.menuPrompt h2 {
    color: #44aaac;
    text-shadow: 5px 4px #7c3d2a;
    font-family: "Scripto", serif;
    font-size: 3.2em;
    text-align: center;
    margin: 30px auto 10px;
}
img#target {
    width: 45%;
    margin: auto;
    position: absolute;
    left: 27%;
}
img#target:hover {
    cursor: pointer;
    transition-duration: 1s;
    width: 50%;
    left: 25%;
}
img#arrow2 {
    width: 30%;
    position: absolute;
    left: 15%;
    transform: rotate(270deg);
    display: none;
    cursor: pointer;
}
.menuPrompt:hover img#arrow2 {
    display: block;
}
.menuPrompt button {
    background-color: #44aaac;
    height: 60px;
    width: 160px;
    padding: 10px;
    box-shadow: 3px 4px #242947;
    border-radius: 12px;
    position: absolute;
    bottom: 0px;
    left: 40%;
}
.menuPrompt button:hover {
    cursor: pointer;
    animation: jelly 0.5s;
}
@keyframes jelly{
    0%,
    100%{
        transform:scale(1,1);
    }
    25% {
        transform: scale(0.9,1.1);
    }
    50%{
        transform: scale(1.1,0.9);
    }
    75%{
        transform:scale(0.95,1.05);
    }
} 
.menuPrompt button a {
    text-decoration: none;
    color: #f4dcab;
    font-family: "Kaushan Script", serif;
    font-size: 22px;
    font-weight: 600;
}
.menuPop {
    position: relative;
    width: 70%;
    height: 70vh;
    margin: auto;
    z-index: 10;
    overflow-y: scroll;
    display: none;
    margin-top: -70vh;
}
.menuPop::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
.menuPop::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}
.menuPop::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
    border-radius: 5px;
}
.menuPop button {
    background: transparent;
    border: none;
    font-family: "Messenger Texture", sans-serif;
    font-size: 3em;
    font-weight: 100;
    color: red;
    position: absolute;
    top: 20px;
    right: 20px;
}
.menuPop button:hover {
    transition-duration: 0.4s;
    cursor: pointer;
    color: #ffb92e;
}
img#menu {
    display: block;
}
