/*title*/
h1{
    text-align: center;
    padding-top: 135px;
    text-align: center;
    font-size: 42px;
    font-style: italic;
    font-family: "Oleo Script", sans-serif;
}

/*content*/
.wrapAll{
    padding: 20px 70px 100px 70px;
    animation: fadeInUp 1s;
}
.wrapAll h2{
   padding:30px 0px 10px 10px;
   font-family: "Oleo Script", sans-serif;
   font-size: 27px;
}
.wrapAll .wrap{
    padding:15px;
    border-radius: 5px;
}
.wrapAll .wrap p{
   word-spacing: 3px;
   font-family: "Roboto Slab", sans-serif;
   font-weight: bold;
   font-size: 16px;
}
.wrapAll .wrap p:hover{
    padding-left: 10px;
    transition: all 0.6s ease;
}

footer {
    margin-top: 0px;
}