html {
    background-color: #f4dcab;
}

/*moving picture animation*/
@keyframes animate {
    from {
        transform: translate(100%);
    }
    to {
        transform: translate(-100%);
    }
}
@keyframes animate2 {
    from {
        transform: translate(0%);
    }
    to {
        transform: translate(-200%);
    }
}

/*Moving picture Title and Intro*/
.moving-picture {
    margin-top: 0px;
    overflow: hidden;
    height: 100vh;
}
.moving-picture h1 {
    position: absolute;
    font-size: 5em;
    z-index: 10;
    top: 40%;
    left: 35vw;
    font-family: "Scripto", serif;
    color: #9c1f25;
    text-shadow: 3px 3px #44aaac;
    animation: fadeInUp 1s;
}
.moving-picture-container {
    filter: opacity(0.8);
    transform: rotate(15deg) translate(0px, -50px);
    display: flex;
    margin: 10px auto;
    width: 1020px;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    mask-image: linear-gradient(
        90deg, transparent, #fff 20%, #fff 80%, transparent
    );
}
.moving-picture-container div {
    white-space: nowrap;
    display: inline-flex;
    min-width: 1020px;
    justify-content: space-between;
    transition: 1s;
    animation: animate var(--t) linear infinite;
}
.moving-picture-container div:nth-child(2) {
    animation: animate2 var(--t) linear infinite;
    animation-delay: calc(var(--t)/-2);
}
.moving-picture-container span {
    margin-left: 30px;
}
.moving-picture-container img {
    max-width: 200px;
    max-height: 250px;
    margin: auto;
    overflow: hidden;
    transform: scale(1);
    border-radius: 10%;
}

.container {
    width: 1020px;
    margin: auto;
    padding-top: 50px;
    transition: transform .5s;
    display: flex;
}

/*Category and Filter By aside*/
aside {
    width: fit-content;
    padding: 2%;
}
aside h2 {
    font-family: "Scripto", serif;
    font-size: 2.2em;
    color: #7c3d2a;
    text-shadow: 3px 3px #44aaac;
    margin: 0;
}
.category {
    margin-bottom: 80px;
}
aside ul {
    list-style-type: none;
    padding-left: 0;
    margin: 10px 6%;
}
aside a {
    color: #7c3d2a;
    text-decoration: none;
    font-family: "Fira Sans", serif;
    line-height: 40px;
    font-size: 1.15em;
    letter-spacing: 1px;
    position: relative;
}
aside a:after {
    content: "";
    position: absolute;
    background-color: #6c3322;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -8px;
    transition: 0.3s;
}
aside a:hover {
    color: #44aaac;
}
aside a:hover:after {
    width: 100%;
}

/*List of food items*/
.listProduct {
    border: none;
    margin: 10px auto;
    margin-right: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: center;
    row-gap: 30px;
}
.listProduct .item {
    border-radius: 20px;
    height: 360px;
}
.item-image {
    position: relative;
    background-image: url(image/lastoBackground.jpg);
    background-size: cover;
    padding: 20px;
    border-radius: 20px;
    height: 270px;
    width: 95%;
    overflow: hidden;
}
.item-image button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 55%;
    height: 15%;
    background-color: #f4dcab;
    color: #7c3d2a;
    font-family: "Scripto", serif;
    font-size: 1em;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    text-transform: capitalize;
    border: 3px solid #7c3d2a;
    border-top: none; 
    border-radius: 20px;
    box-shadow: 0px 10px #7c3d2a;
    transition: 0.6s;
    opacity: 0;
    overflow: hidden;
}
.item-image:hover button {
    opacity: 1;
    margin-bottom: 30px;
}
.item-image button::before {
    content: "";
    position: absolute;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    border-radius: 0 0 50% 50%;
    background: #7c3d2a;
    z-index: -1;
    transition: 0.8s;
}
.item-image button:hover {
    box-shadow: none;
    bottom: 0px;
    color: #f4dcab;
    border: 2px solid #f4dcab;
}
.item-image button:hover::before {
    height: 180%;
    top: 0;
}
.listProduct .item img {
    overflow: hidden;
    width: 100%;
    height: 200px;
    filter: drop-shadow(0 10px 20px #0009);
}
.item-image:hover img {
    transform: scale(1.2);
    transition-duration: 1s;
}
.listProduct .item h2{
    font-family: "Ricks American", serif;
    font-size: 1.5em;
    color: #6c3322;
    text-transform: capitalize;
    letter-spacing: 2px;
    line-height: 40px;
}
.listProduct .item .price {
    font-family: "Lora", serif;
    color: #6c3322;
    font-weight: 600;
    letter-spacing: 7px;
    font-size: 1em;
}
